.kaola {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);
}
.face {
    width: 360px;
    height: 360px;
    background-color: red;
    border-radius: 50%;
}
.ear {
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    width: 280px;
    height: 280px;
    background-color: red;
    top: -20px;
}
.left-ear {
    left: -112px;
}
.right-ear {
    right: -112px;
}
.eye {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    z-index: 1;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.eye-hole {
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
}
.eye-hole-left {
    left: 5px;
    bottom: 5px;
}

.eye-hole-right {
    right: 5px;
    top: 5px;
}

.left-eye {
    left: 80px;
}


.right-eye {
    right: 80px;
}

[data-speed="1"] {
    animation-duration: 1000ms;
}

[data-speed="2"] {
    animation-duration: 900ms;
}

[data-speed="3"] {
    animation-duration: 800ms;
}

[data-speed="4"] {
    animation-duration: 700ms;
}

[data-speed="5"] {
    animation-duration: 600ms;
}

[data-speed="6"] {
    animation-duration: 500ms;
}

[data-speed="7"] {
    animation-duration: 400ms;
}

[data-speed="8"] {
    animation-duration: 300ms;
}

[data-speed="9"] {
    animation-duration: 200ms;
}

[data-speed="10"] {
    animation-duration: 100ms;
}

.nose {
    width: 64px;
    height: 120px;
    top: 160px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 32px;
    z-index: 1;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 1, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);

    }
}
